version: "3.8"
services:
  goxdcc:
    image: "ghcr.io/elfshot/goxdcc:main"
    working_dir: /xdcc
    container_name: "goxdcc"
    # Use network mode to attach a VPN or proxy container as DDC connections are not encrypted
    # network_mode: "container:<container hosting network name or id | No arrows>"
    user: 1000:1000
    deploy:
      resources:
        limits: # Absolute limits
          cpus: '1.5' # 1.5 cores
        reservations: # Minimum resources
          memory: 100M
    volumes:
      - ./config:/xdcc/config:rw
      - ./downloads:/xdcc/downloads:rw
    restart: unless-stopped
    environment:
      - LOG_LEVEL=INFO #DEBUG, INFO, ERROR (Default)
    tty: true
    stdin_open: true
    healthcheck:
      test: ./go-xdcc test
      interval: 60s
      timeout: 4s
      retries: 2